<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PortalPrivado.DAO.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PortalPrivado.DAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PortalPrivado.DAO.Config>
            <setting name="User" serializeAs="String">
                <value>phormazabal</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>Clinica2019</value>
            </setting>
            <setting name="UserQa" serializeAs="String">
                <value>phormazabal</value>
            </setting>
            <setting name="PassQa" serializeAs="String">
                <value>Wario0862</value>
            </setting>
            <setting name="UrlRestLfi" serializeAs="String">
                <value>http://uandesdev.lfi.cl//api/profesionales/profesionales</value>
            </setting>
            <setting name="UrlRestImg" serializeAs="String">
                <value>http://uandesdev.lfi.cl/api/profesionales/profesionales({0})/ImagenDoctor</value>
            </setting>
        </PortalPrivado.DAO.Config>
        <PortalPrivado.DAO.Properties.Settings>
            <setting name="PortalPrivado_DAO_WsMenu_SI_os_GetMenuService"
                serializeAs="String">
                <value>http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_os_GetMenu&amp;interfaceNamespace=urn%3AClinicauandes.org.ish.GetMenuPortal</value>
            </setting>
            <setting name="PortalPrivado_DAO_WsGetEspecialidad_Si_os_GetEspecialidadService"
                serializeAs="String">
                <value>http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=Si_os_GetEspecialidad&amp;interfaceNamespace=urn%3AClinicauandes.org.ish.GetEspecialidades</value>
            </setting>
            <setting name="PortalPrivado_DAO_WsGetBusqueda_Si_os_busquedaService"
                serializeAs="String">
                <value>http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=Si_os_busqueda&amp;interfaceNamespace=urn%3AClinicauandes.org.GetBusquedapredic</value>
            </setting>
            <setting name="PortalPrivado_DAO_WsBuscarCita_SI_BuscarCita_osService"
                serializeAs="String">
                <value>http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BuscarCita_os&amp;interfaceNamespace=urn%3Aclinicauandes.org%3Aish.pm%3Abuscarcita</value>
            </setting>
            <setting name="PortalPrivado_DAO_WsDispDiaria_SI_DispDiariaxMedico_osService"
                serializeAs="String">
                <value>http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_DispDiariaxMedico_os&amp;interfaceNamespace=urn%3Aclinicauandes.org%3Aish.pm%3Adispdiariaxmedico</value>
            </setting>
            <setting name="PortalPrivado_DAO_WsDispMensual_SI_DispMensualxMedico_osService"
                serializeAs="String">
                <value>http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_DispMensualxMedico_os&amp;interfaceNamespace=urn%3Aclinicauandes.org%3Aish.pm%3Adispmensualxmedico</value>
            </setting>
            <setting name="PortalPrivado_DAO_WsReserva_SI_ReservaCita_osService"
                serializeAs="String">
                <value>http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ReservaCita_os&amp;interfaceNamespace=urn%3Aclinicauandes.org%3Aish.pm%3Areservacita</value>
            </setting>
        </PortalPrivado.DAO.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
