<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PortalPrivado.DAO.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PortalPrivado.DAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PortalPrivado.DAO.Config>
            <setting name="User" serializeAs="String">
                <value>phormazabal</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>Clinica2019</value>
            </setting>
        </PortalPrivado.DAO.Config>
        <PortalPrivado.DAO.Properties.Settings>
            <setting name="PortalPrivado_DAO_WsMenu_SI_os_GetMenuService" serializeAs="String">
                <value>http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_os_GetMenu&amp;interfaceNamespace=urn%3AClinicauandes.org.ish.GetMenuPortal</value>
            </setting>
        </PortalPrivado.DAO.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
